@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: Lato;
  font-size: 15px;
  color: #373D3F;
}

pre code {
  font-size: 15px;
}


/*---- "details" element ----*/
/* usually used for exercise answers */

details {
/*  background: #373c3e;
  color: #f1f3f4;*/
  padding: .5rem 1rem;
}

details summary {
  cursor: pointer;
  font-weight: bold;
}

details summary > * {
  display: inline;
}


/*---- Initialise Counters -----*/

:root {
  counter-reset: question figure;
}


/*---- Boxes ---- */
/* at the moment all have same colour, but this can be adjusted in the future */

.box,
.warning,
.note,
.highlight,
.exercise,
.callout {
  padding: 1em 1em 1em 3em;
  /* specify the image properties */
  background-repeat: no-repeat;
  background-position: 0.5em 1em;
  background-size: 2em;
  border-radius: 0.5rem;
  margin: 20px 0;
  /*border: 3px black;
  border-style: solid;*/
  background-color: #f7f8fa;
  /*box-shadow: 0 0 3px 2px #eceef2;*/
  color: black;
}

.warning:before,
.note:before,
.highlight:before,
.exercise:before,
.keypoints:before {
  font-weight: bold;
  font-size: 13px;
  color: black;
}

.warning {
  background-image: url("img/warning.svg"); /* https://fonts.gstatic.com/s/i/materialiconsoutlined/error_outline/v11/24px.svg */
  background-color: #FFEE93;
  background-size: 20px;
  background-position: 15px 18px;
}

.note {
  background-color: #ebebf2;
  color: #1b1b1b;
  background-image: url("img/note.svg"); /*https://fonts.gstatic.com/s/i/materialiconsoutlined/info/v15/24px.svg*/
}

.callout {
  background-color: #FEE5B2;
  color: #1b1b1b;
  background-image: url("img/megaphone.svg");
  background-size: 20px;
  background-position: 13px 21px;
}

.highlight {
  background-image: url("img/highlight.svg"); /* https://fonts.gstatic.com/s/i/materialiconsoutlined/tips_and_updates/v1/24px.svg */
  background-color: #D7E5FD;
}

.exercise {
  background-color: #DDEDDE;
  background-image: url("img/exercise.svg"); /* https://fonts.gstatic.com/s/i/materialiconsoutlined/quiz/v8/24px.svg */
}

.exercise:before {
  counter-increment: question;
  content: "EXERCISE " counter(question);
}

.box {
  padding-left: 1em;
}


/*---- Image captions ----*/

.figure {
  display: block;
  margin: 20px 0;
  padding: 2rem;
  border: 1px solid #eee;
  border-radius: 1rem;
  background-color: #fff;
}

.caption {
  margin-top: 2em;
}

.caption:before {
  counter-increment: figure;
  font-weight: bold;
  content: "Figure " counter(figure) ": ";
}


/*---- Site Template ----*/
/* changes the Rmarkdown default to match our UoC theme */

/* Table of contents */
.list-group-item:hover {
  font-weight: bold;
}
.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #28828a;
  border-color: #28828a;
}
.list-group-item.active:focus,
.list-group-item.active:hover {
  color: #fff;
  background-color: #28828a;
  border-color: #28828a;
  font-weight: bold;
}

/* Navigation bar */
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: white;
}

.navbar,
.navbar-default,
.navbar-default .navbar-nav > li > a {
  background-color: #106470;
  color: white;
}

.navbar-default .navbar-nav > .active > a {
  background-color: #28828a;
  color: white;
}

.navbar-nav > li > .dropdown-menu,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:hover,
.dropdown-menu > li > a,
.dropdown-menu > .active > a {
  background-color: #003a41;
  color: white;
}

.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background-color: #106470;
  color: white;
}

.dropdown-header {
  color: white;
}

.dropdown-menu .divider {
  background-color: #106470;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: #003a41;
  color: white;
}


/* Tabs */
.tab-content {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}


pre:not([class]),
pre,
pre.sourceCode {
  border: 0;
  background: #F1F5F8
}


#TOC.tocify {
  border: 0;
  border-radius: 0;
}

#TOC .tocify-header,
#TOC .tocify-subheader {
  text-indent: 0;
}

.tocify  li.tocify-item.list-group-item {
  padding: 1rem  2rem;
  border-radius: 0.5rem;
}

li.list-group-item:hover {
  font-weight: 500;
  background-color: #eee;
}

li.list-group-item.active:hover,
li.list-group-item.active:focus {
  font-weight: 500;
}

